<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>edit_paths</title>
    </style>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>

<body>
    <h3>Editing paths records</h3>
    <label for="insurer">Choose Insurer</label>
    <select name="insurer" id="insurer"></select>
    <label for="process">Choose Process</label>
    <select name="process" id="process"></select>
    <button id="getpaths" class='btn btn-primary btn-sm'>Get Records</button>
    <button id="addrecord" class='btn btn-info btn-sm'>Add Record</button>
    <p id="recordsmsg" class="alert alert-success"></p>
    <table id="getpathsdata" class="table table-striped table-bordered">
        <thead style="position: sticky;top: 0"></thead>
        <tbody></tbody>
    </table>
    <form>
        <div id="myModal" class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false"
            tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="staticBackdropLabel"></h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                    </div>
                    <div class="modal-footer">
                        <button id="btn1" type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button id="btn2" type="button" class="btn btn-primary">Submit</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
        var fieldList = [];
        $(document).ready(function () {
            var urlName = "http://3.7.8.68:9980/"
            $('#getpathsdata thead').css({ "background-color": "rgba(0, 0, 0, 0.5)", "color": "white" });
            $("#recordsmsg").hide();
            $(document).ajaxError(function () {
                alert("Connection error");
            });
            $.post(urlName + "getpathscoldata",
                {
                },
                function (data, status) {
                    if (status != "success") {
                        alert("Status: " + status);
                    }
                    else {
                        fieldList = data.fields;
                        var options = data.insurer.map(function (val, ind) {
                            return $("<option></option>").val(val[0]).html(val[1]);
                        });
                        $('#insurer').append(options);
                        var options = data.process.map(function (val, ind) {
                            return $("<option></option>").val(val).html(val);
                        });
                        $('#process').append(options);
                    }

                });

            $("#getpaths").click(function () {
                $('#getpathsdata thead').empty();
                $('#getpathsdata tbody').empty();
                var processName = $('#process').val();
                var insurerName = $('#insurer').val();
                $.post(urlName + "getpaths",
                    {
                        insurer: insurerName,
                        process: processName
                    },
                    function (data, status) {
                        $("#recordsmsg").show();
                        $("#recordsmsg").text(data.length + " records found.");
                        if (data.length > 0) {
                            var keys = [];
                            for (var k in data[0]) keys.push(k);
                            var table_row = $("<tr></tr>");
                            table_row.append($("<td>Edit</td>"));
                            table_row.append($("<td>Delete</td>"));
                            var col_names = keys.map(function (val, ind) {
                                return $("<td></td>").html(val);
                            });
                            table_row.append(col_names);
                            $('#getpathsdata thead').append(table_row);
                        }
                        $.each(data, function (index, row) {
                            var table_row = $("<tr></tr>").attr("id", "row" + row.sno);
                            table_row.append($("<td><button type='button' class='btn btn-sm btn-success' id=" + "edit_" + row.sno + ">Edit</button></td>"));
                            table_row.append($("<td><button type='button' class='btn btn-sm btn-danger' id=" + "del_" + row.sno + ">Delete</button></td>"));
                            $.each(row, function (index, item) {
                                var table_cell = $("<td></td>").html(item);
                                table_row.append(table_cell);
                            })
                            $('#getpathsdata tbody').append(table_row);
                        })
                    });
            });
            $(document).on("click", "[id^='edit']", function () {
                var rowId = $(this).attr("id").replace("edit_", "row");

                var keys = $('thead > tr > td').map(function () {
                    return $(this).text();
                });

                var values = $("#" + rowId + ' > td').map(function () {
                    return $(this).text();
                });

                var formaction = urlName + "setpaths";

                var field = '<div class="input-group input-group-sm mb-3"><span class="input-group-text">{{key}}</span><input type="text" name={{key}} value="{{value}}" class="form-control"></div>'

                $('.modal-body').empty();
                $(".modal-title").text("Edit Record");
                $("#btn2").text("Save");

                $.each(keys, function (i, item) {
                    if (keys[i] != "Edit" && keys[i] != "Delete") {
                        $('.modal-body').append(field.replaceAll("{{key}}", keys[i]).replaceAll("{{value}}", values[i]));
                    }
                });

                $("[name='sno']").attr({ "readonly": "", "disable": "" });
                $('#myModal').modal('show');
            });

            $(document).on("click", "[id^='del']", function () {
                var rowId = $(this).attr("id").replace("del_", "");
                var field = '<div class="input-group input-group-sm mb-3"><span class="input-group-text">sno</span><input type="text" name="sno" value="' + rowId + '" class="form-control"></div>'
                $('.modal-body').empty();
                $('.modal-body').append(field);
                $("[name='sno']").attr({ "readonly": "", "disable": "" });
                $(".modal-title").text("Delete Record?");
                $("#btn2").text("Delete")
                $('#myModal').modal('show');
            });

            $(document).on("click", "#btn2", function () {
                var keys = $(":text").map(function () {
                    return $(this).attr("name");
                });

                var values = $(":text").map(function () {
                    return $(this).val();
                });

                var result = {};
                $.each(keys, function (i, item) {
                    result[keys[i]] = values[i]
                });

                var btnText = $("#btn2").text();
                if (btnText === "Save") {
                    var formaction = urlName + "setpaths";
                    var alertText = "Saved";
                }
                else if (btnText === "Add") {
                    var formaction = urlName + "createpaths";
                    var alertText = "Added record";
                }
                else if (btnText === "Delete") {
                    var formaction = urlName + "delpaths";
                    var alertText = "Record Deleted";
                    var result = { "sno": $("[name='sno']").val() };
                }
                $.post(formaction, result, function (data, status) {
                    if (btnText === "Delete") {
                        $('#myModal').modal('hide');
                    }
                    alert(alertText);
                    $("#getpaths").click();
                    if (btnText === "Add") {
                        location.reload();
                    }
                });
            });

            $(document).on("click", "[id^='addrecord']", function () {
                var keys = fieldList;

                var field = '<div class="input-group input-group-sm mb-3"><span class="input-group-text">{{key}}</span><input type="text" name={{key}} value="" class="form-control"></div>'
                $('.modal-body').empty();
                $(".modal-title").text("Add Record");
                $("#btn2").text("Add");

                $.each(keys, function (i, item) {
                    if (keys[i] != "Edit" && keys[i] != "Delete" && keys[i] != "sno") {
                        $('.modal-body').append(field.replaceAll("{{key}}", keys[i]));
                    }
                });

                var $insurerlist = '<datalist id="insurerlist"></datalist>';
                var $temp = $('#insurer').children().clone().text('');
                $("input[name='insurer']").after($insurerlist).attr("list", "insurerlist");
                $("#insurerlist").append($temp);

                var $processlist = '<datalist id="processlist"></datalist>';
                var $temp1 = $('#process').children().clone().text('');
                $("input[name='process']").after($processlist).attr("list", "processlist");
                $("#processlist").append($temp1);
                $('#myModal').modal('show');
            });


        });
    </script>
</body>

</html>