<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>edit_paths</title>
    </style>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
        $(document).ready(function () {
            var urlName = "http://localhost:9980/"
            $('#getpathsdata thead').css({ "background-color": "rgba(0, 0, 0, 0.5)", "color": "white" });
            $("#recordsmsg").hide();
            $(document).ajaxError(function () {
                alert("Connection error");
            });
            $.post(urlName + "getpathscoldata",
                {
                },
                function (data, status) {
                    if (status != "success") {
                        alert("Status: " + status);
                    }
                    else {
                        var options = data.insurer.map(function (val, ind) {
                            return $("<option></option>").val(val).html(val);
                        });
                        $('#insurer').append(options);
                        var options = data.process.map(function (val, ind) {
                            return $("<option></option>").val(val).html(val);
                        });
                        $('#process').append(options);
                    }

                });
            $("#getpaths").click(function () {
                $('#getpathsdata thead').empty();
                $('#getpathsdata tbody').empty();
                var processName = $('#process').find(":selected").text();
                var insurerName = $('#insurer').find(":selected").text();
                $.post(urlName + "getpaths",
                    {
                        insurer: insurerName,
                        process: processName
                    },
                    function (data, status) {
                        $("#recordsmsg").show();
                        $("#recordsmsg").text(data.length + " record found.");
                        if (data.length > 0) {
                            var keys = [];
                            for (var k in data[0]) keys.push(k);
                            var table_row = $("<tr></tr>");
                            table_row.append($("<td>Edit</td>"));
                            table_row.append($("<td>Delete</td>"));
                            var col_names = keys.map(function (val, ind) {
                                return $("<td></td>").html(val);
                            });
                            table_row.append(col_names);
                            $('#getpathsdata thead').append(table_row);
                        }
                        $.each(data, function (index, row) {
                            var table_row = $("<tr></tr>").attr("id", row.sno);
                            table_row.append($("<td><button type='button' class='btn btn-sm btn-success' id=" + "edit_" + row.sno + ">Edit</button></td>"));
                            table_row.append($("<td><button type='button' class='btn btn-sm btn-danger' id=" + "del_" + row.sno + ">Delete</button></td>"));
                            $.each(row, function (index, item) {
                                var table_cell = $("<td></td>").html(item);
                                table_row.append(table_cell);
                            })
                            $('#getpathsdata tbody').append(table_row);
                        })
                    });
            });
            $("#open").click(function () { $('#myModal').modal('show'); });
        });
    </script>
</head>

<body>
    <h3>Editing paths records</h3>
    <label for="insurer">Choose Insurer</label>
    <select name="insurer" id="insurer"></select>
    <label for="process">Choose Process</label>
    <select name="process" id="process"></select>
    <button id="getpaths" class='btn btn-primary btn-sm'>get</button>
    <p id="recordsmsg" class="alert alert-success"></p>
    <table id="getpathsdata" class="table table-striped table-bordered">
        <thead style="position: sticky;top: 0"></thead>
        <tbody></tbody>
    </table>
    <!-- Button trigger modal -->
    <button id="open" class='btn btn-primary btn-sm'>open</button>
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
        Launch static backdrop modal
    </button>

    <!-- Modal -->
    <div id="myModal" class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false"
        tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="staticBackdropLabel">Modal title</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="input-group input-group-sm mb-3">
                        <span class="input-group-text" id="inputGroup-sizing-sm">Small</span>
                        <input type="text" class="form-control" aria-label="Sizing example input"
                            aria-describedby="inputGroup-sizing-sm">
                    </div>
                    ...
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Understood</button>
                </div>
            </div>
        </div>
    </div>
</body>

</html>